.App {
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: canter;
  flex-flow: row wrap;
 

}
.box{
  width:200px;
  height:200px;
  margin:10px;
  transition: background-color .1s ease-in-out ;
}
.inactive {
  background-color: blue;
}
.active {
  background-color: blueviolet;
}
